.container{
  
 
  width: 95%;
  margin: auto;
}

.h1_heading{  
  width: 80%;
  margin: auto;
}
.h1_heading h1{
  text-align: center;
  letter-spacing: 2px;
  font-size: 50px;
}
.h1_heading p{
  text-align: center;
  font-size: 20px;
}

.card_flex{
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}